<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 增加Spring支持 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
  </context-param>
  
  <listener>   
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
  </listener>
  
  <!-- 增加Log4j支持
  <servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>com.sgepit.frame.util.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<init-param>
			<param-name>logFilePath</param-name>
			<param-value />
		</init-param>
		<load-on-startup>2</load-on-startup>
  </servlet>-->
  
  <!-- 增加dwr支持
  <servlet>
	<servlet-name>dwr-invoker</servlet-name>
	<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
	<init-param> 
  		<param-name>debug</param-name> 
  		<param-value>true</param-value> 
	</init-param>
	<init-param>
    	<param-name>org.directwebremoting.extend.Remoter</param-name>
    	<param-value>com.DwrFilter</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.wyl.common.util.file.test.FileManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
